* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f5f7fa;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0;
}

.navbar i {
    font-size: 1.5rem;
    color: #dadfe6;
}

.navbar i:nth-child(1){
    color: #fe466d;
}

/* Photo and Actions */
.photo-and-actions {
    height: calc(100vh - 44px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 98vw;
    height: 83vh;
    background: url(../img/WhatsApp\ Image\ 2022-05-27\ at\ 19.43.18.jpeg) center center/cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    color: #eee;
    box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.77);
}

.photo-text {
    padding: 14px;
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2,0,36,1)0%,
        rgba(35,34,65,0)0%,
        rgba(0,0,0,0.7)52%
    );
    border-radius: 10px;  
}

.photo-name-and-age {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    font-size: 1.4rem;
}

.photo-name-and-age h2:nth-child(2) {
    margin-left: 10px;
    font-weight: 500;
}

.photo-bio {
    line-height: 1.7rem;
    font-size: 1.1rem;
    font-weight: 500;
}

/*Actions */
.actions {
    display: flex;
    flex: auto;
    align-items: center;
    margin: 1rem 0;
}

.action {
    background: #fff;
   box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;transition: transform 500ms ease;
}

.action:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.actions .action:nth-child(1) {
    color: #000000;
}


.actions .action:nth-child(2) {
    margin: 0 1rem;
    color: #9e0909;
    height: 48px;
    width: 48px;
    font-size: 1.5rem;
}

.actions .action:nth-child(3){
    color: #f81b1b;
}

/*Desktop View */
@media (min-width: 1025px) {
    .photo {
        width: 367px;
        height: 684px;
    }
    .navbar {
        width: 400px;
        margin: auto;
    }
}